<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div class="img-wrapper">
        <img src="../../assets/images/eso1706a.jpg" id="popup_image_small" class="logo" alt="menu" (click)="display_image(true)">
      </div>
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><mat-icon>check</mat-icon>Vetting</a>
      <a mat-list-item routerLink="about" routerLinkActive="active-link"><mat-icon>info</mat-icon>About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Astroweb</span>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div id="popup" class="popup_image_background" (click)="display_image(false)">
  <img src="" id="popup_image_large" class="popup_image">
  <div id="popup_caption"></div>
</div>
