<mat-card>
  <mat-card-title>About</mat-card-title>

    <mat-card-subtitle>
      <br>
      The purpose of this dissertation project is to provide a user-friendly way to interact with multiple
      fully-trained variants of the 'Astronet' machine learning model. <em>Astroweb</em> will seemlessly download
      the astronomical data, validate the given parameters against the correct model, and return the results along with any
      relavent information about the star we may already know, including existing exoplanets.
      <br><br>
      hello
    </mat-card-subtitle>


</mat-card>

<mat-card>
  <mat-card-title>Acknowledgements</mat-card-title>
</mat-card>

