<mat-card>
  <mat-card-title>About</mat-card-title>
    <mat-card-subtitle>
      <br>
      The purpose of this dissertation project is to provide a user-friendly way to interact with multiple
      fully-trained variants of the 'Astronet' machine learning model. <em>Astroweb</em> will seemlessly download
      the astronomical data, validate the given parameters against the correct model, and return the results along with any
      relavent information about the star we may already know, including existing exoplanets.
      <br>
    </mat-card-subtitle>
</mat-card>

<mat-card>
  <mat-card-title>Acknowledgements</mat-card-title>
  <mat-card-subtitle>
    <br>
    <a href="https://github.com/google-research/exoplanet-ml">Original Kepler Astronet</a><br>
    <a href="https://github.com/aedattilo/models_K2">Astronet K2</a><br>
    <a href="https://github.com/yuliang419/Astronet-Triage">Astronet TESS</a><br>
    <a href="https://github.com/B1ack2un/AstronetTESS">Astronet TESS (public data fork)</a><p>Astronet models</p><br>
    <a href="https://exoplanetarchive.ipac.caltech.edu/">NASA Exoplanet Archive</a><br>
    <a href="http://simbad.cds.unistra.fr/simbad/">SIMBAD Astronomical Database</a><p>Used for retrieving star information</p><br>
    <a href="https://www.eso.org/public/images/">European Space Observatory</a><p>Source of free use images</p><br>
    <br>
  </mat-card-subtitle>
</mat-card>

