@import '~@angular/material/theming';
@include mat-core();

//@use '@angular/material' as mat;

$space-primary: mat-palette($mat-indigo);
$space-accent: mat-palette($mat-grey, A200, A100, A400);
$space-warn: mat-palette($mat-red);

$space-theme: mat-dark-theme(
  $space-primary,
  $space-accent,
  $space-warn
);

@include angular-material-theme($space-theme);
