<form [formGroup]="details">

  <div class="transit_properties">

    <mat-form-field appearance="standard" color="accent">
      <mat-label>Mission</mat-label>
      <mat-select formControlName="mission">
        <mat-option value="kepler">Kepler Primary</mat-option>
        <mat-option value="tess">TESS Primary</mat-option>
      </mat-select>
      <mat-error *ngIf="details.get('mission')?.hasError('required')">
        Please select a mission
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" color="accent">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" autocomplete="off" required>
      <span matPrefix>{{details.get('prefix')?.value}}&nbsp;</span>
      <mat-error *ngIf="details.get('id')?.hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="details.get('id')?.hasError('invalidNumber')">
        ID must be a positive integer
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" color="accent">
      <mat-label>Period (days)</mat-label>
      <input matInput formControlName="period" autocomplete="off" required>
      <mat-error *ngIf="details.get('period')?.hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="details.get('period')?.hasError('invalidNumber')">
        Period must be a positive number
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" color="accent">
      <mat-label>Duration (days)</mat-label>
      <input matInput formControlName="duration" autocomplete="off" required>
      <mat-error *ngIf="details.get('duration')?.hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="details.get('duration')?.hasError('invalidNumber')">
        Duration must be a positive number
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" color="accent">
      <mat-label>Epoch Phase (days)</mat-label>
      <input matInput formControlName="t0" autocomplete="off">
      <mat-error *ngIf="details.get('t0')?.hasError('invalidNumber')">
        Epoch phase must be zero or a positive number
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="details.get('mission')?.value == 'tess'" appearance="standard" color="accent">
      <mat-label>Sector</mat-label>
      <input matInput formControlName="sector" autocomplete="off">
      <mat-error *ngIf="details.get('sector')?.hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="details.get('sector')?.hasError('invalidNumber')">
        Sector must be a postive integer
      </mat-error>
    </mat-form-field>

  </div>

  <div class="button-row">
    <br>
    <br>
    <button class="button" mat-raised-button color="primary" [disabled]="!details.valid" (click)="onClick()">Predict with Astronet</button>
    <mat-error class="error" *ngIf="error">{{error}}</mat-error>
  </div>

</form>
