.results_section{
  margin: 1rem;
}

.mat-card-header{
  text-align: center;
}

.mat-card-title{
  text-align: center;
  padding: 1rem;
}

.body{
  color: rgb(43, 156, 58);
}

.background-image{
  margin: 1rem;
}

.mat-list-item{
  width: 100%;
  font-size: 14px;
}

.star_property{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

table{
  width: 100%;
}

td.mat-cell, th.mat-header-cell{
  text-align: center;
  justify-content:center;
}

.good_prediction{
  color: lightgreen;
}

.medium_prediction{
  color: gold;
}

.bad_prediction{
  color: tomato
}
